[user]
	name = Jacob Kaplan-Moss
	email = jacob@jacobian.org
[color]
	ui = auto
[alias]
    ci = commit
    co = checkout
    st = status
    superclean = clean -dfx
    lg = log -10 --pretty=format:'%Cred%h%Creset -%Creset %s %Cgreen(%cr) %C(bold blue)<%ae>%Creset'
    ready = rebase -i @{u}
    standup = log --pretty=oneline --abbrev-commit --since yesterday --author jacob@jacobian.org
    wip = commit -am '🚧'
    amend = commit --amend --no-edit
    edit = commit --amend --only
[apply]
	whitespace = fix
[gist]
	browse = false
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
    pager = less -F -X
	attributesFile = ~/.gitattributes
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[hub]
	protocol = https
[credential]
	helper = osxkeychain
[diff]
	noprefix = true
[pull]
	rebase = false
[init]
	defaultBranch = main
[diff "image"]
	textconv = imgcat
	command = imgdiff
